<!-- begin intro section -->
<section class="intro" id="intro">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="intro-section">
					<!-- begin logo intro section -->
					<img src="/img/txtrocket_logo.png" alt="logo">
					<!-- end logo intro section -->
					<h1>Simple, Affordable Mobile Engagement with Text Messaging</h1>
					<ul class="list-inline">
						<li>
							<a href="https://blit.com/signin" class="btn btn-lg btn-custom">
								<i class="fa fa-sign-in"></i>
								Signin
							</a>
						</li>
						<li>
							<a href="#how" class="btn btn-lg btn-custom-border">
								<i class="fa fa-align-left"></i>
								Discover
							</a>
						</li>
					</ul>

					<a href="#how" class="mouse">
						<i class="fa fa-angle-down Drop animated"></i>
					</a>

				</div>
			</div>

		</div>
	</div>

	<span class="mouse"></span>

</section>
<!-- end intro section -->

<!-- begin video section -->
<section class="how" id="how">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-head">
					<h1>How It Works</h1>
					<p>Click play to watch a quick video to see how txtrocket works</p>
					<span class="underline"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 video-item">
				<iframe src="//fast.wistia.net/embed/iframe/rse6561lgk?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js"></script>
			</div>

		</div>
	</div>
</section>
<!-- end video section -->


<!-- begin features section -->
<section class="features" id="features">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-head">
					<h1>Features</h1>
					<p>More than just text messaging, engage people with unique mobile experiences</p>
					<span class="underline"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="features-left">

					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-bullhorn"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">SMS Broadcasts</h4>
							<p>
								Send thousands of text messages per minute to instantly announce a deal, promotion or event.
							</p>
						</div>
					</div>
					<!-- end single feature item -->

					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-refresh"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">SMS Autoresponders</h4>
							<p>
								Anyone can easily get your 4-1-1 sent directly to their mobile phones.
							</p>
						</div>
					</div>
					<!-- end single feature item -->

					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-bookmark"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">SMS Contests</h4>
							<p>
								Setup a real time contest/giveway in minutes, single or multiple winners and so much fun!
							</p>
						</div>
					</div>
					<!-- end single feature item -->

				</div>
			</div>

			<div class="col-md-4">
				<!-- begin feature image -->
				<figure class="image-features">
					<img src="/website/img/iphone5_screen.png" alt="iphone">
				</figure>
				<!-- end feature image -->
			</div>

			<div class="col-md-4">
				<div class="features-right">

					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-money"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">Online/Mobile Giving</h4>
							<p>
								Collect money via credit cards with an easy to use mobile optimized solution.
							</p>
						</div>
					</div>
					<!-- end single feature item -->

					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-gavel"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">Auctions</h4>
							<p>
								Raise more money at your next event with real time bidding via text messaging.
							</p>
						</div>
					</div>
					<!-- end single feature item -->

					<!-- begin single feature item -->
					<div class="feature">
						<div class="icon-container">
							<div class="icon">
							<i class="fa fa-support"></i>
							</div>
						</div>

						<div class="fetaure-details">
							<h4 class="main-color">First Class Service</h4>
							<p>
								Talk to a live professional, passionate about your success. No call center outsourcing here.
							</p>
						</div>
					</div>
					<!-- end single feature item -->
				</div>
			</div>
		</div>
	</div>

</section>
<!-- end features section -->

<!-- begin reviews section -->
<section class="reviews" id="reviews">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-head">
					<h1>Reviews</h1>
					<p>We <i class="fa fa-heart"></i> our customers.</p>
					<span class="underline"></span>
				</div>
			</div>
		</div>

		<!-- begin single testomial item -->
		<div class="row">
				<div class="testemonial">
					<div class="col-md-5 client-data">
						<!-- <div class="client-image">
							<img src="/site/img/person.png" alt="client">
						</div> -->
						<div class="client-name">
							<h4>Josh Unfried</h4>
							<p>CEO, Windfarmmarketing</p>
						</div>
					</div>
					<div class="col-md-7 col-sm-12">
						<div class="client-quote">
							<p>"Just want to let you guys know that your customer service is unbelievable, to every other texting provider I'm just a phone number."</p>
						</div>
					</div>
				</div>
		</div>
		<!-- end single testomial item -->
		<!-- begin single testomial item -->
		<div class="row">
			<div class="testemonial">
				<div class="col-md-5 client-data">
					<!-- <div class="client-image">
						<img src="/site/img/person.png" alt="client">
					</div> -->
					<div class="client-name">
						<h4>Marla Olmstead</h4>
						<p>Small Business Owner</p>
					</div>
				</div>
				<div class="col-md-7">
					<div class="client-quote">
						<p>"I love the txtrocket guys, you make it so easy to text my customers appointment reminders and I've already payed for your service tenfold in rebooked appointments."</p>
					</div>
				</div>
			</div>
		</div>
		<!-- end single testomial item -->
	</div>
</div>
</section>
<!-- end reviews section -->

<div class="divider"></div>


<!-- begin packages section -->
<section class="pricing" id="pricing">

	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="section-head">
					<h1>No Gimmick Pricing</h1>
					<p>We insist on having the best product with the best service at the best price.</p>
					<span class="underline"></span>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-4"></div>
			<div class="col-md-4">
				<!-- begin single package -->
				<div class="package featured">
					<span class="package-price">$25 / mo (minimum)</span>
					<div class="underline-small"></div>
					<div class="package-features">
						<ul>
							<li>$25 per SMS Keyword</li>
							<li>$0.01 per message</li>
							<li>$0.10 online payment</li>
							<li>Unlimited Sub-Keywords</li>
							<li>Unlimited Contacts</li>
							<li>Unlimited Users</li>
							<li>No Contract (cancel anytime)</li>
						</ul>
					</div>
					<div  class="btn btn-custom">
						Call toll free
						<div style="font-size:16px">(844)311-TXTR</div>
						to order today!
					</div>
				</div>
				<!-- end single package -->
			</div>
			<div class="col-md-4"></div>

		</div>

	</div>
</section>
<!-- end packages section -->
